body {
    font-family: sans-serif;
    background-color: #ADCDD1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #86A8AC #f1f1f1; /* For Firefox */
}

/* For Webkit browsers like Chrome, Safari, and Edge */
body::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 10px; /* Rounded corners on the track */
}

body::-webkit-scrollbar-thumb {
    background-color: #86A8AC; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners on the thumb */
    border: 3px solid #f1f1f1; /* Space around the thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #516769; /* Scrollbar color when hovered */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #538f97; /* Adjust background color as needed */
    position: relative;
    color: #fff;
    text-align: center;
    padding: 0 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

h1.title {
    font-family: 'Pacifico', cursive;
    font-size: 6em; /* 2x the original size */
    margin: 0;
}

h2.subtitle, h2.subheader {
    font-size: 1.5em;
    margin: 10px 0 0;
    color: #fff;
    text-align: center;
}


figcaption {
    text-align: center;
    margin-top: 10px;
    color: #555;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

p {
    max-width: 1000px;
    margin-left: 400px;
    margin-right: 400px;
    color: #555;
    text-indent: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Style for the up arrow button */
#upArrowBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    background-color: #86A8AC;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px; /* Rounded square */
    cursor: pointer;
    z-index: 1000;
    display: block; /* Ensure the button is visible by default */
}

#upArrowBtn:hover {
    background-color: #516769;
}

.material-icons {
    vertical-align: middle;
}

/* Style for the menu button */
#menuBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
}

#menuBtn:hover {
    color: #ddd;
}

/* Style for the sidebar */
#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #45757b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1001;
}

#sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #0f0f0f;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#closeBtn {
    position: absolute;
    top: 10px;
    left: 35px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
}

#closeBtn:hover {
    color: #f1f1f1;
}
